<div class="row" ng-controller="homeController as vm" ng-init="vm.init()">
  <div class="col-12 text-center">
    <h1>Front Todos</h1>
  </div>
  <div ng-repeat="card in vm.cards | orderBy: card.idStatus track by card.idStatus" class="col-12 col-md-6 my-5">
    <div class="card border-{{ card.severity }}">
      <div class="card-header text-center text-{{ card.severity }}">
        <h2>{{ card.status }}</h2>
      </div>
      <div class="card-body p-0 text-{{ card.severity }}" ng-on-drop="vm.drop($event, card.idStatus)"
        ng-on-dragover="vm.allowDrop($event)">
        <div class="campo border-{{ card.severity }}" ng-on-dragstart="vm.dragEvent($event, card.idStatus, registro)" draggable="true"
          ng-repeat="registro in card.registros" ng-on-dragover="vm.allowDrop($event)">
          <div ng-if="!vm.loading">
            {{ registro.text }}
          </div>
          <div class="text-center" ng-if="vm.loading">
            <div class="spinner-border spinner-border-sm text-{{ card.severity }}" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>